*{
  margin: 0;
}
.App{
  background: linear-gradient(skyblue, rgb(252, 250, 250));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-dark{
   /* background-color: #dddedd; */
   background-color: #1c2429;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
